#toplevel_page_all-in-one-seo-pack-pro-aioseop_class .wp-menu-image {
    background: url(../images/shield-sprite-16.png) no-repeat 8px 6px !important;
}

#toplevel_page_all-in-one-seo-pack-aioseop_class .wp-menu-image {
    background: url(../images/shield-sprite-16.png) no-repeat 8px 6px !important;
}

#toplevel_page_all-in-one-seo-pack-pro-aioseop_class .wp-menu-image img {
    display: none;
}

#toplevel_page_all-in-one-seo-pack-aioseop_class .wp-menu-image img {
    display: none;
}

#adminmenu #toplevel_page_all-in-one-seo-pack-pro-aioseop_class .wp-menu-image:before {
    content: '';
}

#toplevel_page_all-in-one-seo-pack-aioseop_class .wp-menu-image:before {
    content: '' !important;
}

#toplevel_page_all-in-one-seo-pack-pro-aioseop_class:hover .wp-menu-image, #toplevel_page_all-in-one-seo-pack-pro-aioseop_class.wp-has-current-submenu .wp-menu-image {
    background-position: 8px -26px !important;
}

#toplevel_page_all-in-one-seo-pack-aioseop_class:hover .wp-menu-image, #toplevel_page_all-in-one-seo-pack-aioseop_class.wp-has-current-submenu .wp-menu-image {
    background-position: 8px -26px !important;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (   min--moz-device-pixel-ratio: 1.5), only screen and (     -o-min-device-pixel-ratio: 3/2), only screen and (        min-device-pixel-ratio: 1.5), only screen and (                min-resolution: 1.5dppx) {

    #toplevel_page_all-in-one-seo-pack-pro-aioseop_class .wp-menu-image {
        background-image: url('../images/shield-sprite-32.png') !important;
        -webkit-background-size: 16px 48px !important;
        -moz-background-size: 16px 48px !important;
        background-size: 16px 48px !important;
    }

    #toplevel_page_all-in-one-seo-pack-aioseop_class .wp-menu-image {
        background-image: url('../images/shield-sprite-32.png') !important;
        -webkit-background-size: 16px 48px !important;
        -moz-background-size: 16px 48px !important;
        background-size: 16px 48px !important;
    }
}

.proupgrade a {
    font-weight: 900;
    color: #d54e21;
    font-size: 105%;
}

li#wp-admin-bar-aioseop-pro-upgrade a.ab-item {
    font-weight: 900;
    color: #d54e21 !important;
    font-size: 110%;
}

#aio-pro-update{
    font-weight: 900;
    color: #d54e21 !important;
    font-size: 110%;
}

.upgrade_menu_link {
    font-weight: 900;
    color: #d54e21;
    font-size: 105%;
}
