/**
 * GlyphIcons / Custom Icons.
 *
 * @author Michael Torbert.
 * @author Semper Fi Web Design.
 * @copyright http://semperplugins.com
 * @package All-in-One-SEO-Pack.
 */

@charset "UTF-8";

@font-face {
	font-family: 'aioseop-font';
	src: url('font-icons/aioseop.eot');
	src: url('font-icons/aioseop.eot?#iefix') format('embedded-opentype'),
		 url('font-icons/aioseop.woff') format('woff'),
		 url('font-icons/aioseop.ttf') format('truetype'),
		 url('font-icons/aioseop.svg#aioseop') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'aioseop-font' !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^='aioseop-icon-']:before,
[class*=' aioseop-icon-']:before {
	display: inline-block;
	font-family: 'aioseop-font';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

