.proupgrade a {
    font-weight: 900;
    color: #d54e21;
    font-size: 105%;
}

li#wp-admin-bar-aioseop-pro-upgrade a.ab-item {
    font-weight: 900;
    color: #d54e21 !important;
    font-size: 110%;
}

#aio-pro-update{
    font-weight: 900;
    color: #d54e21 !important;
    font-size: 110%;
}

.upgrade_menu_link {
    font-weight: 900;
    color: #d54e21;
    font-size: 105%;
}
