.aioseo-html-sitemap-sidebar {
  .block-editor-block-card {
    align-items: center;
  }
  
  .block-editor-block-card__title.block-editor-block-card__title {
    margin: 0;
  }
  
  .sidebar-row {
    margin-top: 16px;
  
    .aioseo-sidebar-title {
      font-weight: 500;
    }

    .aioseo-toggle {
			display: flex;
			margin: 8px 0;
			align-items: center;
		}

    .aioseo-select {
      margin-bottom: 16px;
    }

    .aioseo-tooltip .icon {
      margin-right: 4px;
    }
  }
}