/* This is the WP Bakery wrapper class. */
.vc_editor {
	.aioseo-pagebuilder-modal {
		&-header {
			background-color: #0772ce;
		}
	}

	#vc_button-update {
		margin-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	#aioseo-limit-modified-date-wpbakery {
		float: right;
		height: 45px;
		margin: 5.5px 0 5.5px 0
	}
}