.aioseo-business-info-sidebar {
  .labels {
    label {
      display: block;
      font-weight: $font-bold;
      margin-bottom: 4px;
    }
  }

  .sidebar-row {
    margin-bottom: 16px;

    .title {
      font-weight: $font-bold;
    }
  }
}