/**
 * GlyphIcons / Custom Icons.
 *
 * @author Michael Torbert.
 * @author Semper Fi Web Design.
 * @copyright http://semperplugins.com
 * @package All-in-One-SEO-Pack.
 */

@charset "UTF-8";

@font-face {
	font-family: 'aioseop-font';
	src: url('../fonts/aioseop.eot');
	src: url('../fonts/aioseop.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/aioseop.woff') format('woff'),
		 url('../fonts/aioseop.ttf') format('truetype'),
		 url('../fonts/aioseop.svg#aioseop') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'aioseop-font' !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^='aioseop-icon-']:before,
[class*=' aioseop-icon-']:before {
	display: inline-block;
	font-family: 'aioseop-font';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ABOUT METABOX */

.aiosp-di .dashicons {
	margin: 1px;
	line-height: 1;
	width: 42px;
	height: 36px;
	color: #fff;
	padding: 3px;
	vertical-align: middle;
}

.aiosp-di .dashicons:before {
	-webkit-font-smoothing: antialiased;
	font-family: 'dashicons';
	font-weight: 400;
	font-size: 1.5em;
	line-height: 38px;
}

.aiosp-di .dashicons.di-facebook {
	margin: 0;
	color: #3B5998;
}

.aiosp-di .dashicons.di-facebook:before {
	content: '\f304';
	font-size: 2.7em;
}

.aiosp-di .dashicons.di-twitter {
	width: 36px;
	background-color: #00aced;
	border-radius: 2px;
}

.aiosp-di .dashicons.di-twitter:before {
	content: '\f301';
}

/* HELP ICON */

.aioseop_help_text_link,
.aioseop_help_text_link:active {
	text-align: left;
	float: left;
	max-width: 300px;
	min-width: 1px;
    padding-right: 3px;
	outline: none;
	color: #888;
}

.aioseop_help_text_link:before {
	display: inline;
    font-family: 'aioseop-font';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5em;
	line-height: 1.2;
    vertical-align: middle;
    content: "\68";
}

.aioseop_help_text_link span {
	font-size: 14px;
}
